# Advanced Querying Mongo

Importing libraries and setting up connection

In [1]:
# from pymongo import MongoClient
from pymongo import MongoClient
# client = MongoClient("")
client = MongoClient("localhost:27017")

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [2]:
# Your Code
db = client.get_database("companies") #conecto a la colección

In [9]:
c = db.get_collection("companies")

In [14]:
proy = {"name":1, "_id":0}
c.find_one({"name": "Babelgum"},proy)

{'name': 'Babelgum'}

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [18]:
# Your Code
mayor = {"number_of_employees":{"$gt": 5000}}
empl= list(c.find(mayor).sort("number_of_employees",-1).limit(20))

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [22]:
# Your Code
cond1 = {"founded_year":{"$gte": 2000}}
cond2= {"founded_year": {"$lte": 2005}}
proy1 = {"name":1,"founded_year":1, "_id":0}
comp= list(c.find({"$and": [cond1,cond2]},proy1))

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [25]:
# Your Code
condi1 = {"ipo.valuation_amount":{"$gt": 100000000}} ##ojo, valuation_amount está dentro de ipo
condi2= {"founded_year": {"$lt": 2010}}
proy2 = {"name":1,"ipo":1, "_id":0}
valuat= list(c.find({"$and": [condi1,condi2]},proy2))

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [28]:
# Your Code
condic1 = {"number_of_employees":{"$lt": 1000}} 
condic2= {"founded_year": {"$lt": 2005}}
comp_empl= list(c.find({"$and": [condic1,condic2]}).sort("number_of_employees",-1).limit(10))

### 6. All the companies that don't include the `partners` field.

In [36]:
# Your Code
partners = list(c.find({"partners": {"$exists": False}}))

In [42]:
partners

[]

### 7. All the companies that have a null type of value on the `category_code` field.

In [44]:
# Your Code
null = list(c.find({"category_code": {"$type": "null"}}))

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [45]:
# Your Code
condici1 = {"number_of_employees":{"$gte": 100}} 
condici2= {"number_of_employees": {"$lt": 1000}}
proy3 = {"name":1,"number of employees":1, "_id":0}
comp_number= list(c.find({"$and": [condici1,condici2]}))

### 9. Order all the companies by their IPO price in a descending order.

In [46]:
# Your Code
order_companies= list(c.find({}).sort("IPO", -1))

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [47]:
# Your Code
companies_10=list(c.find({}).sort("number_of_employees",-1).limit(10))

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [48]:
# Your Code
condicio1= {"founded_month":{"$gt": 6}}
companies_second_sem=list(c.find(condicio1).limit(1000))

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [49]:
# Your Code
condicion1= {"founded_year":{"$lt": 2000}}
condicion2= {"acquisition.price_amount":{"$gt": 10000000}}  
companies_acquisition=list(c.find({"$and": [condicion1,condicion2]}))

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [61]:
# Your Code
condicion_= {"acquisition.acquired_year":{"$gt": 2010}}  
proy4= {"name":1,"acquisition":1, "_id":0}
comp_acq= list(c.find((condicion_),proy4).sort("acquisition.price_amount",-1))

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [53]:
# Your Code
proy5= {"name":1,"founded_year":1, "_id":0}
comp_order= list(c.find({},proy5).sort("founded_year",-1))

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [54]:
# Your Code
condicion_1= {"founded_day":{"$lte": 7}}  
comp_order= list(c.find(condicion_1).sort("acquisition.price_amount",1).limit(10))

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [68]:
# Your Code
condicion_2= {"category_code":"web"}  
condicion_3= {"number_of_employees":{"$gt": 4000}} 
web = list(c.find({"$and": [condicion_2,condicion_3]}).sort("number_of_employees",1))

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [64]:
# Your Code
condicion_4= {"acquisition.price_amount":{"$gt": 10000000}}  
condicion_5= {"acquisition.price_currency_code":"EUR"}
eur=list(c.find({"$and": [condicion_4,condicion_5]}))
len(eur)

7

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [70]:
# Your Code
condicion_6= {"acquisition.acquired_month":{"$lte": 3}} 
proy6= {"name":1,"acquisition":1, "_id":0}
first_trim = list(c.find((condicion_6),proy6).limit(10))

10

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [72]:
# Your Code
condicion_7 = {'founded_year': {"$in": list(range(2000,2011))}}
condicion_8 = {'acquisition.acquired_year': {"$nin": list(range(0,2012))}}
founded_2011= list(c.find({"$and": [condicion_7,condicion_8]}))

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code
condicion_7= {"deadpooled_year":{"$gt": "founded_year"}}