# Advanced Querying Mongo

Importing libraries and setting up connection

In [13]:
# from pymongo import MongoClient
from pymongo import MongoClient
# client = MongoClient("")
client=MongoClient("localhost:27017")
db = client.get_database("Ironhack")
c = db.get_collection("Companies")

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [15]:
proy= {"name": 1, "_id":0}
c.find_one({"name": "Babelgum"}, proy)

{'name': 'Babelgum'}

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [16]:
c.find_one().keys() #Veo todas las keys.

dict_keys(['_id', 'name', 'permalink', 'crunchbase_url', 'homepage_url', 'blog_url', 'blog_feed_url', 'twitter_username', 'category_code', 'number_of_employees', 'founded_year', 'founded_month', 'founded_day', 'deadpooled_year', 'tag_list', 'alias_list', 'email_address', 'phone_number', 'description', 'created_at', 'updated_at', 'overview', 'image', 'products', 'relationships', 'competitions', 'providerships', 'total_money_raised', 'funding_rounds', 'investments', 'acquisition', 'acquisitions', 'offices', 'milestones', 'video_embeds', 'screenshots', 'external_links', 'partners'])

In [26]:
companies1=list(c.find({"number_of_employees": {"$gt": 500}}).sort("number_of_employees",-1).limit(20))

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [29]:
cond1={"founded_year": {"$gte": 2000}}
cond2={"founded_year": {"$lte": 2005}}
proyec= {"name": 1,"founded_year":1, "_id":0}

companies2=list(c.find({"$and": [cond1,cond2]}, proyec))

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [34]:
condi1={"ipo.valuation_amount": {"$gt": 100000000}}
condi2={"founded_year": {"$lt": 2010}}
pr={"name": 1,"ipo":1, "_id":0}
companies3=list(c.find({"$and": [condi1,condi2]}, pr))

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [40]:
condic1={"number_of_employees": {"$lt": 1000}}
condic2={"founded_year": {"$lt": 2005}}
companies4=list(c.find({"$and": [condic1,condic2]}).sort("number_of_employees",-1).limit(10))

### 6. All the companies that don't include the `partners` field.

In [43]:
list(c.find({"partners": {"$exists": False}}))

[]

### 7. All the companies that have a null type of value on the `category_code` field.

In [55]:
null=list(c.find({"category_code": {"$type": "null"}}))

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [50]:
c1={"number_of_employees": {"$gte": 100}}
c2={"number_of_employees": {"$lt": 1000}}
p={"name":1,"number_of_employees":1,"_id":0}
companies5=list(c.find({"$and": [c1,c2]}))

### 9. Order all the companies by their IPO price in a descending order.

In [57]:
companies6=list(c.find({}).sort("IPO",-1))

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [60]:
top10 = list(c.find({}).sort("number_of_employees",-1).limit(10))

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [62]:
cc1={"founded_month": {"$gt": 6}}
companies7=list(c.find(cc1).limit(1000))

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [68]:
cn1={"founded_year": {"$lt": 2000}}
cn2={"acquisition.price_amount": {"$gt": 10000000}}
companies8=list(c.find({"$and": [cn1,cn2]}))

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [93]:
cnd2={"acquired_year": {"$gt": 2010}}
Pry={"name":1,"acquisition":1,"_id":0}
companies9=list(c.find((cnd2),Pry).sort("acquisition.price_amount",-1))

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [72]:
proyectt={"name":1,"founded_year":1,"_id":0}
companies10=list(c.find({},proyectt).sort("founded_year",-1))

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [79]:
cndt={"founded_day": {"$lte": 7}}
companies11=list(c.find(cndt).sort("acquisition.price_amount",-1).limit(10))

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [80]:
c_1={"category_code":"web"}
c_2={"number_of_employees": {"$gt": 4000}}
companies12=list(c.find({"$and":[c_1,c_2]}).sort("number_of_employees",1))

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [97]:
c_a={"acquisition.price_amount": {"$gt": 10000000}}
c_b={"acquisition.price_currency_code": "EUR"}

companies13=list(c.find({"$and":[c_a,c_b]}))

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [95]:
c_ab={"acquisition.acquired_month": {"$lte": 3}}
p_r={"name":1,"acquisition":1,"_id":0}

companies14=list(c.find((c_ab),p_r).limit(10))

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [106]:
cx1 = {'founded_year': {"$in": list(range(2000,2011))}}
cx2 = {'acquisition.acquired_year': {"$nin": list(range(0,2012))}}
companies15=list(c.find({"$and":[cx1,cx2]}))

### 20. All the companies that have been 'deadpooled' after the third year.

In [105]:
list(c.find({"deadpooled_year": {"$exists": True}} "$WHERE" {"founded_year":{"$gt": 2011}})  #No encuentro nada...

SyntaxError: invalid syntax (<ipython-input-105-a3cc8b177140>, line 1)