# Advanced Querying Mongo

Importing libraries and setting up connection

In [2]:
!pip install pymongo
from pymongo import MongoClient

Requirement already satisfied: pymongo in /usr/local/Caskroom/miniconda/base/lib/python3.8/site-packages (3.12.1)

In [9]:
client = MongoClient("localhost:27017")

In [10]:
ir = client.get_database("ironhack")

In [11]:
c = ir.get_collection("companies")

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [24]:
proyec = {"name": 1}
query = {"name":"Babelgum"}
list(c.find(query,proyec))

[{'_id': ObjectId('52cdef7c4bab8bd675297da0'), 'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [ ]:
number_of_employees

In [38]:
employees = {"number_of_employees":{"$gt": 5000}}
list(c.find(employees).limit(1).sort("number_of_employees",1))

[{'_id': ObjectId('52cdef7c4bab8bd675297e49'),
  'name': 'Nintendo',
  'permalink': 'nintendo',
  'crunchbase_url': 'http://www.crunchbase.com/company/nintendo',
  'homepage_url': 'http://nintendo.com',
  'blog_url': '',
  'blog_feed_url': '',
  'twitter_username': 'NintendoAmerica',
  'category_code': 'games_video',
  'number_of_employees': 5080,
  'founded_year': 1889,
  'founded_month': 9,
  'founded_day': 23,
  'deadpooled_year': None,
  'deadpooled_month': None,
  'deadpooled_day': None,
  'deadpooled_url': None,
  'tag_list': 'games, console',
  'alias_list': '',
  'email_address': 'noalegal@noa.nintendo.com',
  'phone_number': '1-800-255-3700 ',
  'description': '',
  'created_at': 'Sat Dec 22 13:27:00 UTC 2007',
  'updated_at': 'Thu Sep 05 12:41:16 UTC 2013',
  'overview': '<p>Nintendo, a technology company widely known for its line of game consoles, was actually founded in 1889 by Fusajiro Yamauchi. It began as a card game company and evolved into one of the largest Japanese companies with a Market Capitalization of over $85 billion.</p>',
  'image': {'available_sizes': [[[150, 41],
     'assets/images/resized/0000/2869/2869v3-max-150x150.jpg'],
    [[250, 69], 'assets/images/resized/0000/2869/2869v3-max-250x250.jpg'],
    [[450, 125], 'assets/images/resized/0000/2869/2869v3-max-450x450.jpg']],
   'attribution': None},
  'products': [{'name': 'Wii', 'permalink': 'wii'}],
  'relationships': [{'is_past': False,
    'title': 'President',
    'person': {'first_name': 'Satoru',
     'last_name': 'Iwata',
     'permalink': 'satoru-iwata'}},
   {'is_past': True,
    'title': 'Executive Vice President',
    'person': {'first_name': 'John',
     'last_name': 'H. Bauer',
     'permalink': 'john-h-bauer'}},
   {'is_past': True,
    'title': '',
    'person': {'first_name': 'Mark',
     'last_name': 'Proffit',
     'permalink': 'mark-frazier'}},
   {'is_past': True,
    'title': 'European Brand Manager',
    'person': {'first_name': 'Cornelius',
     'last_name': 'Rost',
     'permalink': 'cornelius-rost'}},
   {'is_past': True,
    'title': '',
    'person': {'first_name': 'Roger',
     'last_name': 'Pavane',
     'permalink': 'roger-pavane'}},
   {'is_past': True,
    'title': 'Training Coordinator / Lead / Developer',
    'person': {'first_name': 'Scott',
     'last_name': 'Sullivan',
     'permalink': 'scott-sullivan'}},
   {'is_past': True,
    'title': 'Lead Tester',
    'person': {'first_name': 'Jesse',
     'last_name': 'Hayes',
     'permalink': 'jesse-hayes'}},
   {'is_past': True,
    'title': 'Consultant',
    'person': {'first_name': 'John',
     'last_name': 'H. Bauer',
     'permalink': 'john-h-bauer'}}],
  'competitions': [],
  'providerships': [],
  'total_money_raised': '$0',
  'funding_rounds': [],
  'investments': [],
  'acquisition': None,
  'acquisitions': [],
  'offices': [{'description': None,
    'address1': None,
    'address2': None,
    'zip_code': None,
    'city': None,
    'state_code': None,
    'country_code': 'JPN',
    'latitude': 36.204824,
    'longitude': 138.252924}],
  'milestones': [{'id': 17591,
    'description': '3D For Everyone! Get The Nintendo 3DS For $150',
    'stoned_year': 2011,
    'stoned_month': 8,
    'stoned_day': 29,
    'source_url': 'http://techcrunch.com/2011/08/29/get-the-nintendo-3ds-150/',
    'source_text': '',
    'source_description': '3D For Everyone! Get The Nintendo 3DS For $150',
    'stoneable_type': 'Company',
    'stoned_value': None,
    'stoned_value_type': None,
    'stoned_acquirer': None,
    'stoneable': {'name': 'Nintendo', 'permalink': 'nintendo'}}],
  'ipo': None,
  'video_embeds': [],
  'screenshots': [],
  'external_links': [],
  'partners': []}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [43]:
proyect = {"name":1 , "founded_year":1, "_id":0}
list(c.find({"founded_year": {"$in": list(range(2000,2006))}}, proyect).limit(5))

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'Omnidrive', 'founded_year': 2005}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [61]:
pro = {"name":1 , "ipo":1, "founded_year":1, "_id":0}
above = {"ipo.valuation_amount":{"$gt": 100000000}}
before = {"founded_year":{"$lt": 2010}}

list(c.find({"$and": [above,before]},pro).limit(3))

[{'name': 'Facebook',
  'founded_year': 2004,
  'ipo': {'valuation_amount': 104000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 5,
   'pub_day': 18,
   'stock_symbol': 'NASDAQ:FB'}},
 {'name': 'Twitter',
  'founded_year': 2006,
  'ipo': {'valuation_amount': 18100000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'NYSE:TWTR'}},
 {'name': 'Yelp',
  'founded_year': 2004,
  'ipo': {'valuation_amount': 1300000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 3,
   'pub_day': 2,
   'stock_symbol': 'NYSE:YELP'}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [64]:
proy = {"name":1 , "number_of_employees":1, "founded_year":1, "_id":0}
bef = {"founded_year":{"$lt": 2005}}
empl = {"number_of_employees":{"$lt": 1000}}
list(c.find({"$and": [empl,bef]},proy).limit(10).sort("number_of_employees",1))

[{'name': 'Fox Interactive Media',
  'number_of_employees': 0,
  'founded_year': 1979},
 {'name': 'Ticketmaster', 'number_of_employees': 0, 'founded_year': 1976},
 {'name': 'Eurekster', 'number_of_employees': 0, 'founded_year': 2004},
 {'name': 'MindTouch', 'number_of_employees': 0, 'founded_year': 2004},
 {'name': 'Skype', 'number_of_employees': 0, 'founded_year': 2003},
 {'name': 'Monster', 'number_of_employees': 0, 'founded_year': 1994},
 {'name': 'EditGrid', 'number_of_employees': 0, 'founded_year': 2003},
 {'name': 'Simpy', 'number_of_employees': 0, 'founded_year': 2004},
 {'name': 'Compete', 'number_of_employees': 0, 'founded_year': 2000},
 {'name': 'stylediary', 'number_of_employees': 0, 'founded_year': 2004}]

### 6. All the companies that don't include the `partners` field.

In [68]:
cond_exi = {"partners": {"$exists": False}}
list(c.find(cond_exi).limit(3))

[]

### 7. All the companies that have a null type of value on the `category_code` field.

In [69]:
bef = {"category_code":{"$exists": False}}
list(c.find(bef).limit(3))

[]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [71]:
proy = {"name":1 , "number_of_employees":1, "_id":0}
num1 = {"number_of_employees":{"$gt": 100}}
num2 = {"number_of_employees":{"$lt": 1000}}
list(c.find({"$and": [num1,num2]},proy).limit(5))

[{'name': 'AdventNet', 'number_of_employees': 600},
 {'name': 'AddThis', 'number_of_employees': 120},
 {'name': 'OpenX', 'number_of_employees': 305},
 {'name': 'LifeLock', 'number_of_employees': 644},
 {'name': 'Jajah', 'number_of_employees': 110}]

### 9. Order all the companies by their IPO price in a descending order.

In [86]:
proy = {"name":1 , "ipo":1, "_id":0}
ipo = {"ipo.valuation_amount":{"$exists": True}}
list(c.find(ipo,proy).limit(3).sort("ipo.valuation_amount",-1))

[{'name': 'GREE',
  'ipo': {'valuation_amount': 108960000000,
   'valuation_currency_code': 'JPY',
   'pub_year': 2008,
   'pub_month': 12,
   'pub_day': 17,
   'stock_symbol': '3632'}},
 {'name': 'Facebook',
  'ipo': {'valuation_amount': 104000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 5,
   'pub_day': 18,
   'stock_symbol': 'NASDAQ:FB'}},
 {'name': 'Amazon',
  'ipo': {'valuation_amount': 100000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 1997,
   'pub_month': 5,
   'pub_day': None,
   'stock_symbol': 'NASDAQ:AMZN'}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [87]:
proy = {"name":1 , "number_of_employees":1, "_id":0}
ipo = {"number_of_employees":{"$exists": True}}
list(c.find(ipo,proy).limit(10).sort("number_of_employees",-1))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [ ]:
founded_month

In [93]:
proyect = {"name":1 , "founded_year":1, "founded_month":1, "_id":0}
list(c.find({"founded_month": {"$in": list(range(7,13))}}, proyect).limit(5))

[{'name': 'Wetpaint', 'founded_year': 2005, 'founded_month': 10},
 {'name': 'Zoho', 'founded_year': 2005, 'founded_month': 9},
 {'name': 'Digg', 'founded_year': 2004, 'founded_month': 10},
 {'name': 'Omnidrive', 'founded_year': 2005, 'founded_month': 11},
 {'name': 'eBay', 'founded_year': 1995, 'founded_month': 9}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [95]:
proy = {"name":1 , "founded_year":1, "acquisition.price_amount":1, "_id":0}
num1 = {"founded_year":{"$lt": 2000}}
num2 = {"acquisition.price_amount":{"$gt": 10000000}}
list(c.find({"$and": [num1,num2]},proy).limit(5))

[{'name': 'Postini',
  'founded_year': 1999,
  'acquisition': {'price_amount': 625000000}},
 {'name': 'SideStep',
  'founded_year': 1999,
  'acquisition': {'price_amount': 180000000}},
 {'name': 'Recipezaar',
  'founded_year': 1999,
  'acquisition': {'price_amount': 25000000}},
 {'name': 'PayPal',
  'founded_year': 1998,
  'acquisition': {'price_amount': 1500000000}},
 {'name': 'Snapfish',
  'founded_year': 1999,
  'acquisition': {'price_amount': 300000000}}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [102]:
proy = {"name":1 , "acquisition":1, "_id":0}
num1 = {"acquisition.acquired_year":{"$gt": 2010}}
list(c.find(num1,proy).limit(1).sort("acquisition.price_amount",-1))

[{'name': 'T-Mobile',
  'acquisition': {'price_amount': 39000000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/03/20/in-the-race-for-more-spectrum-att-is-acquiring-t-mobile-for-39-billion/',
   'source_description': 'In The Race For More Spectrum, AT&T Is Acquiring T-Mobile For $39 Billion',
   'acquired_year': 2011,
   'acquired_month': 3,
   'acquired_day': 20,
   'acquiring_company': {'name': 'AT&T', 'permalink': 'at-t'}}}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [106]:
proy = {"name":1 , "founded_year":1, "_id":0}
ipo = {"founded_year":{"$exists": True}}
list(c.find(ipo,proy).limit(10).sort("founded_year",-1))

[{'name': 'Wamba', 'founded_year': 2013},
 {'name': 'Gimigo', 'founded_year': 2013},
 {'name': 'Clowdy', 'founded_year': 2013},
 {'name': 'Fluc', 'founded_year': 2013},
 {'name': 'Advaliant', 'founded_year': 2013},
 {'name': 'Pikk', 'founded_year': 2013},
 {'name': 'WhosCall', 'founded_year': 2013},
 {'name': 'SEOGroup', 'founded_year': 2013},
 {'name': 'iBazar', 'founded_year': 2013},
 {'name': 'Fixya', 'founded_year': 2013}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [112]:
proy = {"name":1 , "founded_day":1, "_id":0}
ipo = {"founded_day":{"$lte": 7}}
list(c.find(ipo,proy).limit(10).sort("acquisition.price_amount",1))

[{'name': 'Facebook', 'founded_day': 1},
 {'name': 'Joost', 'founded_day': 1},
 {'name': 'Babelgum', 'founded_day': 1},
 {'name': 'Gizmoz', 'founded_day': 1},
 {'name': 'eBay', 'founded_day': 1},
 {'name': 'Technorati', 'founded_day': 1},
 {'name': 'Yahoo!', 'founded_day': 1},
 {'name': 'Fox Interactive Media', 'founded_day': 1},
 {'name': 'Omnidrive', 'founded_day': 1},
 {'name': 'Geni', 'founded_day': 1}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [119]:
proy = {"name":1 , "category_code":1, "number_of_employees":1, "_id":0}
num1 = {"number_of_employees":{"$gt": 4000}}
cat = {"category_code":"web"}
list(c.find({"$and": [num1,cat]},proy).limit(5).sort("number_of_employees",1))

[{'name': 'Expedia', 'category_code': 'web', 'number_of_employees': 4400},
 {'name': 'AOL', 'category_code': 'web', 'number_of_employees': 8000},
 {'name': 'Webkinz', 'category_code': 'web', 'number_of_employees': 8657},
 {'name': 'Los Angeles Times Media Group',
  'category_code': 'web',
  'number_of_employees': 10000},
 {'name': 'Rakuten', 'category_code': 'web', 'number_of_employees': 10000}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [121]:
proyect = {"name": 1, 'acquisition':1, '_id': 0}
cond1 = {'acquisition.price_amount':{'$gt': 10000000}}
cond2 = {'acquisition.price_currency_code': 'EUR'}
list(c.find({"$and": [cond1,cond2]}, proyect).limit(1))

[{'name': 'ZYB',
  'acquisition': {'price_amount': 31500000,
   'price_currency_code': 'EUR',
   'term_code': 'cash',
   'source_url': 'http://www.techcrunch.com/2008/05/16/danish-mobile-social-network-zyb-acquired-by-vodafone-for-e315-million/',
   'source_description': 'Danish Network ZYB Acquired By Vodafone For â‚¬31.5 million',
   'acquired_year': 2008,
   'acquired_month': 5,
   'acquired_day': 16,
   'acquiring_company': {'name': 'Vodafone', 'permalink': 'vodafone'}}}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [123]:
proyect = {"name": 1, 'acquisition':1,'_id': 0}
list(c.find({"acquisition.acquired_month": {"$in": list(range(1,4))}}, proyect).limit(5))

[{'name': 'Kyte',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/01/31/exclusive-kit-digital-acquires-kickapps-kewego-and-kyte-for-77-2-million/',
   'source_description': 'KIT digital Acquires KickApps, Kewego AND Kyte For $77.2 Million',
   'acquired_year': 2011,
   'acquired_month': 1,
   'acquired_day': 31,
   'acquiring_company': {'name': 'KIT digital', 'permalink': 'kit-digital'}}},
 {'name': 'NetRatings',
  'acquisition': {'price_amount': 327000000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://login.vnuemedia.com/hr/login/login_subscribe.jsp?id=0oqDem1gYIfIclz9i2%2Ffqj5NxCp2AC5DPbVnyT2da8GyV2mXjasabE128n69OrmcAh52%2FGE3pSG%2F%0AEKRYD9vh9EhrJrxukmUzh532fSMTZXL42gwPB80UWVtF1NwJ5UZSM%2BCkLU1mpYBoHFgiH%2Fi0f6Ax%0A9yMIVxt47t%2BHamhEQ0nkOEK24L',
   'source_description': 'Nielsen buys rest of NetRatings',
   'acquired_year': 2007,
   'acquired_month': 2,
   'acquired_day': None,
   'acquiring_company': {'name': 'Nielsen', 'permalink': 'nielsen'}}},
 {'name': 'blogTV',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2013/03/13/younow-buys-blogtv/',
   'source_description': 'Live Social Video Network YouNow Acquires Streaming Service BlogTV',
   'acquired_year': 2013,
   'acquired_month': 3,
   'acquired_day': 13,
   'acquiring_company': {'name': 'YouNow', 'permalink': 'younow'}}},
 {'name': 'Livestream',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': '',
   'source_description': 'company',
   'acquired_year': 2008,
   'acquired_month': 1,
   'acquired_day': 1,
   'acquiring_company': {'name': 'Adviqo', 'permalink': 'adviqo'}}},
 {'name': 'iContact',
  'acquisition': {'price_amount': 169000000,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': 'http://techcrunch.com/2012/02/28/vocus-buys-email-marketing-company-icontact-for-169-million/',
   'source_description': 'Vocus Buys Email Marketing Company iContact For $169 Million',
   'acquired_year': 2012,
   'acquired_month': 2,
   'acquired_day': 28,
   'acquiring_company': {'name': 'Vocus', 'permalink': 'vocus'}}}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [136]:
proyect = {"name": 1, 'founded_year':1,'_id': 0}
cond1 = {"founded_year":{"$in": list(range(2000,20011))}}
cond2 = {"acquisition.acquired_year":{"$nin": list(range(0,2012))}}
list(c.find({"$and": [cond1,cond2]}, proyect).limit(5))

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'Omnidrive', 'founded_year': 2005}]

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
proyect = {"name":1 , "deadpooled_year":1, "_id":0}
cond1 = {"name":{"$exists": True}}
cond2 = {"deadpooled_year":{'$gt': 3}}
cond3 = {where

No he entendido la [documentación](https://docs.mongodb.com/manual/reference/operator/query/where/)
le he dedicado un rato... pero nada de nada :(