# Advanced Querying Mongo

Importing libraries and setting up connection

In [3]:
from pymongo import MongoClient
client = MongoClient("localhost:27017")

In [4]:
db = client.get_database("ironhack")

In [5]:
c = db.get_collection("companies")

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [187]:
list(c.find({"name": "Babelgum"},{"name":1}))

[{'_id': ObjectId('52cdef7c4bab8bd675297da0'), 'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [32]:
proy = {'number_of_employees': 1, 'name': 1}

In [40]:
b = {"number_of_employees":{"$gt": 5000}}
list(c.find(b,proy).sort("number_of_employees",-1).limit(3))

[{'_id': ObjectId('52cdef7d4bab8bd67529941a'),
  'name': 'Siemens',
  'number_of_employees': 405000},
 {'_id': ObjectId('52cdef7c4bab8bd67529856a'),
  'name': 'IBM',
  'number_of_employees': 388000},
 {'_id': ObjectId('52cdef7d4bab8bd675299d33'),
  'name': 'Toyota',
  'number_of_employees': 320000}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [43]:
proy3 = {'founded_year': 1, 'name': 1}

In [44]:
list(c.find({"founded_year": {"$in": [2000,2001,2002,2003,2004,2005]}}, proy3).limit(3))

[{'_id': ObjectId('52cdef7c4bab8bd675297d8a'),
  'name': 'Wetpaint',
  'founded_year': 2005},
 {'_id': ObjectId('52cdef7c4bab8bd675297d8c'),
  'name': 'Zoho',
  'founded_year': 2005},
 {'_id': ObjectId('52cdef7c4bab8bd675297d8d'),
  'name': 'Digg',
  'founded_year': 2004}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [68]:
proy4 = {'ipo': 1, 'name': 1}

In [69]:
cond1 = {"founded_year":{"$lte": 2010}}
cond2 = {"ipo.valuation_amount": {"$gte": 100000000}}

In [70]:
list(c.find({"$and": [cond1,cond2]},proy4).limit(3))

[{'_id': ObjectId('52cdef7c4bab8bd675297d8e'),
  'name': 'Facebook',
  'ipo': {'valuation_amount': 104000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 5,
   'pub_day': 18,
   'stock_symbol': 'NASDAQ:FB'}},
 {'_id': ObjectId('52cdef7c4bab8bd675297d94'),
  'name': 'Twitter',
  'ipo': {'valuation_amount': 18100000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'NYSE:TWTR'}},
 {'_id': ObjectId('52cdef7c4bab8bd675297de0'),
  'name': 'Yelp',
  'ipo': {'valuation_amount': 1300000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 3,
   'pub_day': 2,
   'stock_symbol': 'NYSE:YELP'}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [77]:
proy5 = {'number_of_employees': 1, 'name': 1, "founded_year": 1}
cond51 = {"number_of_employees":{"$lte": 1000}}
cond52 = {"founded_year": {"$lte": 2005}}

In [78]:
list(c.find({"$and": [cond51,cond52]},proy5).sort("number_of_employees",-1).limit(3))

[{'_id': ObjectId('52cdef7c4bab8bd67529812e'),
  'name': 'Yodle',
  'number_of_employees': 1000,
  'founded_year': 2005},
 {'_id': ObjectId('52cdef7c4bab8bd6752980d0'),
  'name': 'Omniture',
  'number_of_employees': 1000,
  'founded_year': 1996},
 {'_id': ObjectId('52cdef7c4bab8bd675297ec1'),
  'name': 'Akamai Technologies',
  'number_of_employees': 1000,
  'founded_year': 1998}]

### 6. All the companies that don't include the `partners` field.

In [172]:
list(c.find({"partners": {"$exists": False}}).limit(1))

[]

### 7. All the companies that have a null type of value on the `category_code` field.

In [174]:
list(c.find({"category_code": {"$in":[]}}).limit(2))

[]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [90]:
proy8 = {'number_of_employees': 1, 'name': 1}
cond81 = {"number_of_employees":{"$lte": 1000}}
cond82 = {"number_of_employees":{"$gte": 100}}

In [92]:
list(c.find({"$and": [cond81,cond82]},proy8).limit(3))

[{'_id': ObjectId('52cdef7c4bab8bd675297d8b'),
  'name': 'AdventNet',
  'number_of_employees': 600},
 {'_id': ObjectId('52cdef7c4bab8bd675297da7'),
  'name': 'AddThis',
  'number_of_employees': 120},
 {'_id': ObjectId('52cdef7c4bab8bd675297da8'),
  'name': 'OpenX',
  'number_of_employees': 305}]

### 9. Order all the companies by their IPO price in a descending order.

In [153]:
cond_IPO = {"ipo.valuation_amount": {"$exists": True}}
proy9 = {"name": 1, "ipo.valuation_amount": 1, "_id": 0}
list(c.find(cond_IPO, proy9).sort("ipo.valuation_amount", -1).limit(3))

[{'name': 'GREE', 'ipo': {'valuation_amount': 108960000000}},
 {'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000}},
 {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [155]:
proy10 = {"name": 1, "number_of_employees": 1, "_id": 0}
list(c.find({},proy10).sort("number_of_employees", -1).limit(3))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [107]:
proy11 = {'founded_month': 1, 'name': 1}

In [108]:
list(c.find({"founded_month": {"$in": [7,8,9,10,11,12]}}, proy11).limit(3))

[{'_id': ObjectId('52cdef7c4bab8bd675297d8a'),
  'name': 'Wetpaint',
  'founded_month': 10},
 {'_id': ObjectId('52cdef7c4bab8bd675297d8c'),
  'name': 'Zoho',
  'founded_month': 9},
 {'_id': ObjectId('52cdef7c4bab8bd675297d8d'),
  'name': 'Digg',
  'founded_month': 10}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [142]:
proy12 = {'acquisition': 1, 'name': 1, 'founded_year': 1}

In [149]:
cond121 = {"founded_year":{"$lt": 2000}}
cond122 = {"acquisition.price_amount": {"$gt": 10000000}}

In [152]:
list(c.find({"$and": [cond121,cond122]},proy12).sort("acquisition.price_amount",-1).limit(1))

[{'_id': ObjectId('52cdef7c4bab8bd6752983f8'),
  'name': 'BEA Systems',
  'founded_year': 1995,
  'acquisition': {'price_amount': 8500000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.oracle.com/corporate/press/2008_jan/bea.html',
   'source_description': 'Oracle to Acquire BEA Systems',
   'acquired_year': 2008,
   'acquired_month': 1,
   'acquired_day': 16,
   'acquiring_company': {'name': 'Oracle Corporation',
    'permalink': 'oracle'}}}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [120]:
proy13 = {'acquisition': 1, 'name': 1, }

In [121]:
cond131 = {"acquisition.acquired_year":{"$gte": 2010}}

In [122]:
list(c.find({"$and": [cond131]},proy13).sort("acquisition.price_amount",-1).limit(1))

[{'_id': ObjectId('52cdef7c4bab8bd675298876'),
  'name': 'T-Mobile',
  'acquisition': {'price_amount': 39000000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/03/20/in-the-race-for-more-spectrum-att-is-acquiring-t-mobile-for-39-billion/',
   'source_description': 'In The Race For More Spectrum, AT&T Is Acquiring T-Mobile For $39 Billion',
   'acquired_year': 2011,
   'acquired_month': 3,
   'acquired_day': 20,
   'acquiring_company': {'name': 'AT&T', 'permalink': 'at-t'}}}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [168]:
proy14 = {"name": 1, "founded_year": 1, "_id": 0}
list(c.find({},proy14).sort("founded_year", -1).limit(2))

[{'name': 'Wamba', 'founded_year': 2013},
 {'name': 'Fixya', 'founded_year': 2013}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [127]:
proy15 = {'founded_day': 1, 'name': 1,'acquisition.price_amount': 1}

In [128]:
list(c.find({"founded_day": {"$in": [1,2,3,4,5,6,7]}}, proy15).sort("acquisition.price_amount",-1).limit(2))

[{'_id': ObjectId('52cdef7d4bab8bd6752989a1'),
  'name': 'Netscape',
  'founded_day': 4,
  'acquisition': {'price_amount': 4200000000}},
 {'_id': ObjectId('52cdef7c4bab8bd675297e89'),
  'name': 'PayPal',
  'founded_day': 1,
  'acquisition': {'price_amount': 1500000000}}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [136]:
proy16 = {'number_of_employees': 1, 'name': 1, "category_code": 1}
cond161 = {"number_of_employees":{"$lte": 4000}}
cond162 = {"category_code": "web"}

In [137]:
list(c.find({"$and": [cond161,cond162]},proy16).sort("number_of_employees",1).limit(2))

[{'_id': ObjectId('52cdef7c4bab8bd675297dec'),
  'name': 'coRank',
  'category_code': 'web',
  'number_of_employees': 0},
 {'_id': ObjectId('52cdef7c4bab8bd675297d93'),
  'name': 'Fox Interactive Media',
  'category_code': 'web',
  'number_of_employees': 0}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [169]:
proy17 = {'acquisition': 1, 'name': 1}
cond171 = {"acquisition.price_currency_code": "EUR"}
cond172 = {"acquisition.price_amount": {"$gte": 10000000}}

In [170]:
list(c.find({"$and": [cond171,cond172]},proy17).sort("number_of_employees",1).limit(1))

[{'_id': ObjectId('52cdef7d4bab8bd675298bf3'),
  'name': 'Apertio',
  'acquisition': {'price_amount': 140000000,
   'price_currency_code': 'EUR',
   'term_code': None,
   'source_url': 'http://www.techcrunch.com/2008/01/03/nokia-siemens-acquires-apertio-for-e140m/',
   'source_description': 'Nokia Siemens Acquires Apertio For â‚¬140m',
   'acquired_year': 2008,
   'acquired_month': 1,
   'acquired_day': 3,
   'acquiring_company': {'name': 'Nokia Siemens Networks',
    'permalink': 'nokia-siemens-networks'}}}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [163]:
proy18 = {'acquisition': 1, 'name': 1, }

In [165]:
list(c.find({"acquisition.acquired_month": {"$in": [1,2,3]}}, proy18).limit(1))

[{'_id': ObjectId('52cdef7c4bab8bd675297dab'),
  'name': 'Kyte',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/01/31/exclusive-kit-digital-acquires-kickapps-kewego-and-kyte-for-77-2-million/',
   'source_description': 'KIT digital Acquires KickApps, Kewego AND Kyte For $77.2 Million',
   'acquired_year': 2011,
   'acquired_month': 1,
   'acquired_day': 31,
   'acquiring_company': {'name': 'KIT digital', 'permalink': 'kit-digital'}}}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [185]:
proy19 = {'acquisition': 1, 'name': 1, 'founded_year': 1}
cond191 = {"founded_year":{"$lte": 2010}}
cond192 = {"founded_year":{"$gte": 2000}}
cond193 = {"acquisition.acquired_year":{"$gte": 2011}}

In [186]:
list(c.find({"$and": [cond191,cond192,cond193]},proy19).limit(1))

[{'_id': ObjectId('52cdef7c4bab8bd675297d8a'),
  'name': 'Wetpaint',
  'founded_year': 2005,
  'acquisition': {'price_amount': 30000000,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': 'http://allthingsd.com/20131216/viggle-tries-to-bulk-up-its-social-tv-business-by-buying-wetpaint/?mod=atdtweet',
   'source_description': ' Viggle Tries to Bulk Up Its Social TV Business by Buying Wetpaint',
   'acquired_year': 2013,
   'acquired_month': 12,
   'acquired_day': 16,
   'acquiring_company': {'name': 'Viggle', 'permalink': 'viggle'}}}]

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code