# Advanced Querying Mongo

Importing libraries and setting up connection

In [3]:
from pymongo import MongoClient
client = MongoClient("localhost:27017")

In [4]:
db = client.get_database("ironhack")

In [5]:
c= db.get_collection('companies')

In [6]:
c

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'ironhack'), 'companies')

In [25]:
c.find_one()
# para ver como es la base de datos

{'_id': ObjectId('52cdef7c4bab8bd675297d8b'),
 'name': 'AdventNet',
 'permalink': 'abc3',
 'crunchbase_url': 'http://www.crunchbase.com/company/adventnet',
 'homepage_url': 'http://adventnet.com',
 'blog_url': '',
 'blog_feed_url': '',
 'twitter_username': 'manageengine',
 'category_code': 'enterprise',
 'number_of_employees': 600,
 'founded_year': 1996,
 'deadpooled_year': 2,
 'tag_list': '',
 'alias_list': 'Zoho ManageEngine ',
 'email_address': 'pr@adventnet.com',
 'phone_number': '925-924-9500',
 'description': 'Server Management Software',
 'created_at': datetime.datetime(2007, 5, 25, 19, 24, 22),
 'updated_at': 'Wed Oct 31 18:26:09 UTC 2012',
 'overview': '<p>AdventNet is now <a href="/company/zoho-manageengine" title="Zoho ManageEngine" rel="nofollow">Zoho ManageEngine</a>.</p>\n\n<p>Founded in 1996, AdventNet has served a diverse range of enterprise IT, networking and telecom customers.</p>\n\n<p>AdventNet supplies server and network management software.</p>',
 'image': {'available_sizes': [[[150, 55],
    'assets/images/resized/0001/9732/19732v1-max-150x150.png'],
   [[150, 55], 'assets/images/resized/0001/9732/19732v1-max-250x250.png'],
   [[150, 55], 'assets/images/resized/0001/9732/19732v1-max-450x450.png']]},
 'products': [],
 'relationships': [{'is_past': True,
   'title': 'CEO and Co-Founder',
   'person': {'first_name': 'Sridhar',
    'last_name': 'Vembu',
    'permalink': 'sridhar-vembu'}},
  {'is_past': True,
   'title': 'VP of Business Dev',
   'person': {'first_name': 'Neil',
    'last_name': 'Butani',
    'permalink': 'neil-butani'}},
  {'is_past': True,
   'title': 'Usabiliy Engineer',
   'person': {'first_name': 'Bharath',
    'last_name': 'Balasubramanian',
    'permalink': 'bharath-balasibramanian'}},
  {'is_past': True,
   'title': 'Director of Engineering',
   'person': {'first_name': 'Rajendran',
    'last_name': 'Dandapani',
    'permalink': 'rajendran-dandapani'}},
  {'is_past': True,
   'title': 'Market Analyst',
   'person': {'first_name': 'Aravind',
    'last_name': 'Natarajan',
    'permalink': 'aravind-natarajan'}},
  {'is_past': True,
   'title': 'Director of Product Management',
   'person': {'first_name': 'Hyther',
    'last_name': 'Nizam',
    'permalink': 'hyther-nizam'}},
  {'is_past': True,
   'title': 'Western Regional OEM Sales Manager',
   'person': {'first_name': 'Ian',
    'last_name': 'Wenig',
    'permalink': 'ian-wenig'}}],
 'competitions': [],
 'providerships': [{'title': 'DHFH',
   'is_past': True,
   'provider': {'name': 'A Small Orange', 'permalink': 'a-small-orange'}}],
 'total_money_raised': '$0',
 'funding_rounds': [],
 'investments': [],
 'acquisition': None,
 'acquisitions': [],
 'offices': [{'description': 'Headquarters',
   'address1': '4900 Hopyard Rd.',
   'address2': 'Suite 310',
   'zip_code': '94588',
   'city': 'Pleasanton',
   'state_code': 'CA',
   'country_code': 'USA',
   'latitude': 37.692934,
   'longitude': -121.904945}],
 'milestones': [],
 'video_embeds': [],
 'screenshots': [{'available_sizes': [[[150, 94],
     'assets/images/resized/0004/3400/43400v1-max-150x150.png'],
    [[250, 156], 'assets/images/resized/0004/3400/43400v1-max-250x250.png'],
    [[450, 282], 'assets/images/resized/0004/3400/43400v1-max-450x450.png']],
   'attribution': None}],
 'external_links': [],
 'partners': []}

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [13]:
# Your Code
proyec = {'name':1, '_id':0}
Babelgum = list(c.find({'name':'Babelgum'},proyec))
Babelgum

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [19]:
# Your Code
query = {'number_of_employees': {'$gt' : 5000}}
fivek = list(c.find(query).limit(20).sort('number_of_employees',-1)) #lo ordeno en orden descendente
#Como no dice que muestre solo algunas columnas las muestro todas, pero lo dejo sin que salga en el output ;)

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [22]:
# Your Code
proyec = {'name':1, 'founded_year':1, '_id':0}
cond1 = {'founded_year':{'$gte':2000}}
cond2 = {'founded_year':{'$lte':2005}}
query = {'$and':[cond1, cond2]}
three = list(c.find(query,proyec).limit(5))
three

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Omnidrive', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Gizmoz', 'founded_year': 2003}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [46]:
cond1={'ipo.valuation_amount':{'$gt':100000000}}
cond2 = {'founded_year':{'$lt':2010}}
proyec = {'name':1, 'ipo':1, '_id':0}
query = {'$and':[cond1, cond2]}
four = list(c.find(query,proyec).limit(2))

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [48]:
# Your Code
cond1={'number_of_employees': {'$lt' : 1000}}
cond2 = {'founded_year':{'$lt':2005}}
# proyec = {'name':1, 'ipo':1, '_id':0}
query = {'$and':[cond1, cond2]}
five = list(c.find(query).sort('number_of_employees',-1).limit(10))

### 6. All the companies that don't include the `partners` field.

In [53]:
# Your Code
#cond1={'partners': '$not':{'$lt' : 0}}} #esto incluye las que tengan partners negativos (imposible) y los que no tengan el campo

cond1 = {"partners": {"$exists": False}}

six = list(c.find(cond1).limit(1))
six

[]

### 7. All the companies that have a null type of value on the `category_code` field.

In [99]:
# Your Code
cond1 = {"category_code":None}

seven = list(c.find(cond1).limit(1))

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [60]:
# Your Code
cond1={'number_of_employees': {'$gte' : 100}}
cond2={'number_of_employees': {'$lt' : 1000}}

query = {'$and':[cond1, cond2]}

proyec = {'name':1, 'number_of_employees':1, '_id':0}

eight = list(c.find(query,proyec).limit(5))
eight

[{'name': 'AdventNet', 'number_of_employees': 600},
 {'name': 'AddThis', 'number_of_employees': 120},
 {'name': 'OpenX', 'number_of_employees': 305},
 {'name': 'LifeLock', 'number_of_employees': 644},
 {'name': 'Jajah', 'number_of_employees': 110}]

### 9. Order all the companies by their IPO price in a descending order.

In [63]:
# Your Code
nine = list(c.find().sort('ipo.valuation_amount',-1))

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [64]:
# Your Code
proyec = {'name':1, 'number_of_employees':1, '_id':0}
ten = list(c.find().sort('number_of_employees',-1).limit(10))

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [ ]:
# Your Code
query = {'founded_month':{'$gt':6}}
eleven = list(c.find(query).limit(1000))

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [65]:
# Your Code
cond1 = {'founded_year':{'$lt':2000}}
cond2 = {'acquisition.price_amount':{'$gt':10000000}}
query = {'$and':[cond1,cond2]}

twelve = list(c.find(query))

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [68]:
# Your Code
cond1 = {'acquisition.acquired_year':{'$gt':2010}}
# cond2 = {'acquisition.price_amount':{'$gt':10000000}}
# query = {'$and':[cond1,cond2]}
proyec = {'name':1, 'acquisition':1, '_id':0}
thirt = list(c.find(cond1, proyec).sort('acquisition.price_amount').limit(1)) #ascending order
thirt

[{'name': 'Wetpaint',
  'acquisition': {'price_amount': 30000000,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': 'http://allthingsd.com/20131216/viggle-tries-to-bulk-up-its-social-tv-business-by-buying-wetpaint/?mod=atdtweet',
   'source_description': ' Viggle Tries to Bulk Up Its Social TV Business by Buying Wetpaint',
   'acquired_year': 2013,
   'acquired_month': 12,
   'acquired_day': 16,
   'acquiring_company': {'name': 'Viggle', 'permalink': 'viggle'}}}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [88]:
# Your Code
#ººººººººººººººººººººººººººººººcond = {'founded_year': {'$exists':True}}
proyec= {'name':1, 'founded_year': 1, '_id':0}

fourt = list(c.find({},proyec).sort('founded_year',-1).limit(14))
fourt

[{'name': 'WhosCall', 'founded_year': 2013},
 {'name': 'Advaliant', 'founded_year': 2013},
 {'name': 'Clowdy', 'founded_year': 2013},
 {'name': 'Pikk', 'founded_year': 2013},
 {'name': 'Wamba', 'founded_year': 2013},
 {'name': 'Tongxue', 'founded_year': 2013},
 {'name': 'Fixya', 'founded_year': 2013},
 {'name': 'Shopseen', 'founded_year': 2013},
 {'name': 'Fluc', 'founded_year': 2013},
 {'name': 'Gimigo', 'founded_year': 2013},
 {'name': 'VistaGen Therapeutics', 'founded_year': 2013},
 {'name': 'SEOGroup', 'founded_year': 2013},
 {'name': 'iBazar', 'founded_year': 2013},
 {'name': 'headr', 'founded_year': 2012}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [78]:
# Your Code
cond = {'founded_day':{'$lte':7}}

fift = list(c.find(cond).sort('acquisition.price_amount',-1).limit(10))

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [79]:
# Your Code
cond1 = {'category_code':'web'}
cond2= {'number_of_employees': {'$gt' : 4000}}
query = {'$and':[cond1,cond2]}
sixt = list(c.find(query).sort('number_of_employees'))

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [80]:
# Your Code

cond1 = {'acquisition.price_currency_code':'EUR'}
cond2 = {'acquisition.price_amount':{'$gt':10000000}}
query = {'$and':[cond1,cond2]}

sevent = list(c.find(query))

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [81]:
# Your Code
cond1 = {'acquisition.acquired_month':{'$lt':4}}
proyec = {'name':1, 'acquisition':1, '_id':0}

eighte = list(c.find(cond1,proyec).limit(10))

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [87]:
# Your Code
cond1 = {'founded_year': {'$gte':2000}}
cond2 = {'founded_year': {'$lt':2010}}
cond3 = {'acquisition.acquired_year': {'$nin':list(range(0,2012))}}

query = {'$and':[cond1,cond2,cond3]}
proyec = {'name':1, 'acquisition':1, '_id':0}
ninet = list(c.find(query,proyec).limit(3))
ninet

[{'name': 'Wetpaint',
  'acquisition': {'price_amount': 30000000,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': 'http://allthingsd.com/20131216/viggle-tries-to-bulk-up-its-social-tv-business-by-buying-wetpaint/?mod=atdtweet',
   'source_description': ' Viggle Tries to Bulk Up Its Social TV Business by Buying Wetpaint',
   'acquired_year': 2013,
   'acquired_month': 12,
   'acquired_day': 16,
   'acquiring_company': {'name': 'Viggle', 'permalink': 'viggle'}}},
 {'name': 'Zoho', 'acquisition': None},
 {'name': 'Geni',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2012/11/28/all-in-the-family-myheritage-buys-former-yammer-stablemate-geni-com-raises-25m/',
   'source_description': 'MyHeritage acquires Geni and $25M to build family tree of the whole world',
   'acquired_year': 2012,
   'acquired_month': 11,
   'acquired_day': 28,
   'acquiring_company': {'name': 'MyHeritage', 'permalink': 'myheritage'}}}]

### 20. All the companies that have been 'deadpooled' after the third year.

In [92]:
# Your Code
listaca = list(c.find({'deadpooled_year':{'$exists':True}},{'name':1,'deadpooled_year':1, 'founded_year':1, '_id':0}))
lista=[]
for i in listaca:
    if i['deadpooled_year'] != None and i['founded_year'] != None:
        if i['deadpooled_year'] > 4:
            lista.append(i)
        elif i['deadpooled_year']-i['founded_year'] >4:
            lista.append(i)

In [97]:
#intentandolo con where
cond1 = {'deadpooled_year':{'$exists':True}}
cond2 = {'$where': function(){return lambda x: (x if x['deadpooled_year'] > 4 else x if x['deadpooled_year']-x['founded_year'] >4) if (x['deadpooled_year'] != None) and (x['founded_year'] != None)}}
proy = {'name':1,'deadpooled_year':1, 'founded_year':1, '_id':0}
query = {'$and':[cond1,cond2]}
listaca = list(c.find(query,proy))

#no entiendo el syntax error que me da...

SyntaxError: invalid syntax (3820395155.py, line 2)